In [1]:
import pandas as pd

<h1>Load the Dataset</h1>

1. read_csv <br>
    a. na_values - additional strings to recognize as NaN. The Adult dataset uses “?” for unknown values.<br>
    b. skipinitialspace -  if True, leading spaces after delimiters are removed (so " United-States" becomes "United-States").

In [23]:
df = pd.read_csv('/Users/shreeyadaga/Documents/college/Sem6/DSBDA/DSBDALExam DataSets/DSBDALExam DataSets/Adult/adult.csv',
                names=['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','income'],
                na_values='?',    # treat '?' as missing data (NaN),
                header = None,    # don't treat any row as the header,
                index_col=False,  # don’t pull out any column to be the index
                skipinitialspace=True)
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [24]:
df.isnull().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
income               0
dtype: int64

In [25]:
#Dropped any rows with missing values
df.dropna(axis=0,inplace=True)
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [26]:
df.drop_duplicates()
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

<h1>Create Data Subsets for different country, sex, race</h1>

A dictionary comprehension that builds a dictionary where:<br>
&emsp;each key is a unique country name from the 'native-country' column<br>
&emsp;each value is a subset DataFrame containing just rows for that country<br>
<br>
sub - a DataFrame (just the rows where 'native-country' == country')<br>
country: a string<br>
<hr>
{country: sub for country, sub in ...}<br>
&emsp;sub - (the group of rows for that country)<br>
&emsp;country:sub - defines what each key-value pair will look like<br>
&emsp;You're looping over each (country, sub_df) pair from the groupby<br>
&emsp;You're storing them as key-value pairs: {country: sub_df}.

<hr>
Output - <br>
  'United-States':   DataFrame of US records,<br>
  'India':           DataFrame of Indian records,<br>
  'Mexico':          DataFrame of Mexican records,<br>

In [36]:
country_groups = {country: sub for country, sub in df.groupby('native-country')}
country_groups

{'Cambodia':        age         workclass  fnlwgt     education  education-num  \
 255     42  Self-emp-not-inc  303044       HS-grad              9
 1975    40           Private  121956     Bachelors             13
 4303    37           Private  191342       1st-4th              2
 4785    25           Private  228608  Some-college             10
 5560    27           Private  292472  Some-college             10
 7980    34       Federal-gov   67083     Bachelors             13
 8014    40           Private  173858       7th-8th              4
 11134   32           Private  112137     Preschool              1
 11637   51           Private   63685       HS-grad              9
 16068   28           Private  149769       HS-grad              9
 17382   27           Private  292472  Some-college             10
 18075   65           Private  255386       HS-grad              9
 20494   37           Private  355856     Bachelors             13
 21503   35           Private   93034       HS-grad              9
 22669   36           Private  116138       HS-grad              9
 27480   50           Private  135339          12th              8
 28995   46           Private  104632       HS-grad              9
 32129   48           Private  350440  Some-college             10

               marital-status         occupation    relationship  \
 255       Married-civ-spouse    Farming-fishing         Husband
 1975   Married-spouse-absent     Prof-specialty   Not-in-family
 4303      Married-civ-spouse       Craft-repair         Husband
 4785           Never-married       Craft-repair  Other-relative
 5560      Married-civ-spouse     Prof-specialty         Husband
 7980           Never-married    Exec-managerial       Unmarried
 8014      Married-civ-spouse      Other-service         Husband
 11134     Married-civ-spouse  Machine-op-inspct            Wife
 11637     Married-civ-spouse              Sales         Husband
 16068          Never-married  Machine-op-inspct   Not-in-family
 17382          Never-married       Craft-repair   Not-in-family
 18075          Never-married       Craft-repair  Other-relative
 20494     Married-civ-spouse       Craft-repair         Husband
 21503          Never-married  Machine-op-inspct   Not-in-family
 22669     Married-civ-spouse     Prof-specialty         Husband
 27480     Married-civ-spouse              Sales         Husband
 28995     Married-civ-spouse  Machine-op-inspct         Husband
 32129     Married-civ-spouse       Craft-repair  Other-relative

                      race     sex  capital-gain  capital-loss  hours-per-week  \
 255    Asian-Pac-Islander    Male             0             0              40
 1975   Asian-Pac-Islander    Male         13550             0              40
 4303   Asian-Pac-Islander    Male             0             0              40
 4785   Asian-Pac-Islander  Female             0             0              40
 5560   Asian-Pac-Islander    Male             0             0              40
 7980   Asian-Pac-Islander    Male          1471             0              40
 8014   Asian-Pac-Islander    Male             0             0              42
 11134  Asian-Pac-Islander  Female          4508             0              40
 11637  Asian-Pac-Islander    Male             0             0              50
 16068  Asian-Pac-Islander    Male             0             0              40
 17382  Asian-Pac-Islander    Male             0          1876              45
 18075  Asian-Pac-Islander    Male             0             0              40
 20494  Asian-Pac-Islander    Male             0             0              40
 21503  Asian-Pac-Islander    Male             0             0              40
 22669  Asian-Pac-Islander    Male             0             0              40
 27480  Asian-Pac-Islander    Male             0             0              40
 28995  Asian-Pac-Islander    Male             0             0              40
 32129  Asian-Pac-Islander    Male             0             0              40

       native-country income
 255         Cambodia   >50K
 1975        Cambodia   >50K
 4303        Cambodia  <=50K
 4785        Cambodia  <=50K
 5560        Cambodia   >50K
 7980        Cambodia  <=50K
 8014        Cambodia  <=50K
 11134       Cambodia  <=50K
 11637       Cambodia  <=50K
 16068       Cambodia  <=50K
 17382       Cambodia  <=50K
 18075       Cambodia  <=50K
 20494       Cambodia   >50K
 21503       Cambodia  <=50K
 22669       Cambodia  <=50K
 27480       Cambodia   >50K
 28995       Cambodia   >50K
 32129       Cambodia   >50K  ,
 'Canada':        age         workclass  fnlwgt     education  education-num  \
 112     56  Self-emp-not-inc  335605       HS-grad              9
 593     31           Private  168387     Bachelors             13
 1051    53  Self-emp-not-inc  263925     Bachelors             13
 1314    32           Private  509350  Some-college             10
 1379    32           Private   97429     Bachelors             13
 ...    ...               ...     ...           ...            ...
 29333   25           Private   41526     Bachelors             13
 30032   24           Private  214542  Some-college             10
 30288   40           Private  406811       HS-grad              9
 30969   51           Private  305673     Assoc-voc             11
 32112   32      Self-emp-inc  209691     Bachelors             13

            marital-status         occupation relationship   race     sex  \
 112    Married-civ-spouse      Other-service      Husband  White    Male
 593    Married-civ-spouse     Prof-specialty      Husband  White    Male
 1051   Married-civ-spouse              Sales      Husband  White    Male
 1314   Married-civ-spouse  Handlers-cleaners      Husband  White    Male
 1379             Divorced    Exec-managerial    Unmarried  White  Female
 ...                   ...                ...          ...    ...     ...
 29333       Never-married       Craft-repair    Own-child  White    Male
 30032       Never-married       Craft-repair    Own-child  White    Male
 30288           Separated    Exec-managerial    Unmarried  White  Female
 30969  Married-civ-spouse       Craft-repair      Husband  White    Male
 32112  Married-civ-spouse       Craft-repair      Husband  White    Male

        capital-gain  capital-loss  hours-per-week native-country income
 112               0          1887              50         Canada   >50K
 593            7688             0              40         Canada   >50K
 1051              0             0              40         Canada   >50K
 1314              0             0              50         Canada   >50K
 1379              0             0              40         Canada  <=50K
 ...             ...           ...             ...            ...    ...
 29333             0             0              30         Canada  <=50K
 30032             0             0              60         Canada  <=50K
 30288             0             0              40         Canada  <=50K
 30969             0             0              40         Canada   >50K
 32112             0             0              50         Canada  <=50K

 [107 rows x 15 columns],
 'China':        age         workclass  fnlwgt  education  education-num  \
 873     51  Self-emp-not-inc  160724  Bachelors             13
 1092    31           Private  196025  Doctorate             16
 1515    44           Private  123983  Bachelors             13
 1708    24           Private   67222  Bachelors             13
 1717    41           Private  233955    Masters             14
 ...    ...               ...     ...        ...            ...
 31185   45           Private  243631  Doctorate             16
 31243   45           Private  304570  Bachelors             13
 31511   31           Private  298871  Doctorate             16
 32115   29           Private  119359    HS-grad              9
 32204   23         Local-gov  162551  Bachelors             13

               marital-status         occupation   relationship  \
 873       Married-civ-spouse              Sales        Husband
 1092   Married-spouse-absent     Prof-specialty  Not-in-family
 1515                Divorced      Other-service  Not-in-family
 1708           Never-married  Machine-op-inspct  Not-in-family
 1717      Married-civ-spouse     Prof-specialty        Husband
 ...                      ...                ...            ...
 31185     Married-civ-spouse     Prof-specialty        Husband
 31243     Married-civ-spouse    Exec-managerial        Husband
 31511     Married-civ-spouse     Prof-specialty        Husband
 32115     Married-civ-spouse     Prof-specialty           Wife
 32204          Never-married     Prof-specialty      Own-child

                      race     sex  capital-gain  capital-loss  hours-per-week  \
 873    Asian-Pac-Islander    Male             0          2415              40
 1092   Asian-Pac-Islander    Male             0             0              60
 1515   Asian-Pac-Islander    Male             0             0              40
 1708   Asian-Pac-Islander    Male             0             0              45
 1717   Asian-Pac-Islander    Male             0             0              45
 ...                   ...     ...           ...           ...             ...
 31185  Asian-Pac-Islander    Male             0             0              45
 31243  Asian-Pac-Islander    Male             0             0              60
 31511  Asian-Pac-Islander    Male             0             0              40
 32115  Asian-Pac-Islander  Female             0             0              10
 32204  Asian-Pac-Islander  Female             0             0              35

       native-country income
 873            China   >50K
 1092           China  <=50K
 1515           China  <=50K
 1708           China  <=50K
 1717           China   >50K
 ...              ...    ...
 31185          China   >50K
 31243          China   >50K
 31511          China  <=50K
 32115          China   >50K
 32204          China  <=50K

 [68 rows x 15 columns],
 'Columbia':        age         workclass   fnlwgt     education  education-num  \
 228     75           Private   314209     Assoc-voc             11
 2659    26       Federal-gov   206983   Prof-school             15
 2992    49           Private   165134     Assoc-voc             11
 3386    38           Private   203836       HS-grad              9
 3924    50           Private   116287    Assoc-acdm             12
 5463    53           Private   169182          10th              6
 6878    26           Private    61270       HS-grad              9
 7732    43           Private   350661   Prof-school             15
 7921    29           Private   161444       HS-grad              9
 9828    64         State-gov   216160     Doctorate             16
 11601   26           Private   158333       5th-6th              3
 11676   25           Private   167031          10th              6
 11892   23           Private   287681       HS-grad              9
 12500   60           Private   160339  Some-college             10
 12701   49           Private   228583       HS-grad              9
 12985   33           Private   119409       HS-grad              9
 13223   28           Private   155621       5th-6th              3
 13432   31  Self-emp-not-inc   229946       HS-grad              9
 14073   54           Private   257869  Some-college             10
 14113   36           Private   181589     Bachelors             13
 14419   31           Private   247444     Assoc-voc             11
 14436   21           Private   162667     Bachelors             13
 15210   28  Self-emp-not-inc   155621  Some-college             10
 16016   32           Private   164507       HS-grad              9
 16140   34           Private   188736       HS-grad              9
 16258   36           Private   162651       HS-grad              9
 16999   18           Private   252993          12th              8
 18787   51           Private   228516       HS-grad              9
 18928   25           Private   190628  Some-college             10
 19428   41           Private   145220           9th              5
 19918   23           Private   380281    Assoc-acdm             12
 20097   39           Private    89419     Assoc-voc             11
 21076   45       Federal-gov   235891    Assoc-acdm             12
 21502   45           Private   216626       HS-grad              9
 21836   60  Self-emp-not-inc   264314  Some-college             10
 22155   29           Private   264166     Assoc-voc             11
 22376   29           Private   161857       HS-grad              9
 23807   25           Private    95691       HS-grad              9
 24096   39  Self-emp-not-inc   597843       Masters             14
 24240   62           Private   131117       7th-8th              4
 24575   21           Private   178255  Some-college             10
 24609   32           Private   202498          11th              7
 24650   64           Private   260082          12th              8
 25075   33           Private  1161363  Some-college             10
 26198   38           Private   277022  Some-college             10
 26349   25           Private   243560       HS-grad              9
 27481   32           Private   100662           9th              5
 27648   52           Private   230657       HS-grad              9
 28480   49  Self-emp-not-inc   181547    Assoc-acdm             12
 28590   21           Private   314165  Some-college             10
 29025   56  Self-emp-not-inc   201318           9th              5
 29746   57  Self-emp-not-inc   118806       1st-4th              2
 29969   48           Private   207817       HS-grad              9
 31305   46           Private   195023       HS-grad              9
 31817   49           Private   402462     Bachelors             13
 32299   49           Private   242987     Bachelors             13

               marital-status         occupation    relationship  \
 228                  Widowed       Adm-clerical   Not-in-family
 2659      Married-civ-spouse     Prof-specialty         Husband
 2992           Never-married    Exec-managerial       Unmarried
 3386      Married-civ-spouse              Sales         Husband
 3924      Married-civ-spouse       Adm-clerical         Husband
 5463   Married-spouse-absent  Machine-op-inspct   Not-in-family
 6878           Never-married  Machine-op-inspct       Unmarried
 7732               Separated       Tech-support   Not-in-family
 7921      Married-civ-spouse    Exec-managerial         Husband
 9828      Married-civ-spouse     Prof-specialty         Husband
 11601          Never-married   Transport-moving   Not-in-family
 11676          Never-married  Machine-op-inspct   Not-in-family
 11892          Never-married       Craft-repair       Own-child
 12500     Married-civ-spouse       Craft-repair         Husband
 12701               Divorced      Other-service       Unmarried
 12985     Married-civ-spouse  Machine-op-inspct            Wife
 13223          Never-married       Craft-repair   Not-in-family
 13432     Married-civ-spouse     Prof-specialty         Husband
 14073              Separated      Other-service   Not-in-family
 14113          Never-married       Adm-clerical   Not-in-family
 14419     Married-civ-spouse  Machine-op-inspct         Husband
 14436          Never-married       Adm-clerical   Not-in-family
 15210          Never-married       Craft-repair       Own-child
 16016          Never-married  Handlers-cleaners   Not-in-family
 16140     Married-civ-spouse  Machine-op-inspct  Other-relative
 16258              Separated       Adm-clerical   Not-in-family
 16999          Never-married  Handlers-cleaners       Own-child
 18787  Married-spouse-absent       Craft-repair   Not-in-family
 18928     Married-civ-spouse       Craft-repair         Husband
 19428          Never-married    Priv-house-serv       Unmarried
 19918          Never-married      Other-service       Own-child
 20097               Divorced      Other-service   Not-in-family
 21076          Never-married       Adm-clerical   Not-in-family
 21502                Widowed  Machine-op-inspct       Unmarried
 21836     Married-civ-spouse    Exec-managerial         Husband
 22155               Divorced      Other-service       Unmarried
 22376  Married-spouse-absent      Other-service   Not-in-family
 23807          Never-married      Other-service       Unmarried
 24096          Never-married     Prof-specialty   Not-in-family
 24240               Divorced       Tech-support       Unmarried
 24575          Never-married       Adm-clerical   Not-in-family
 24609     Married-civ-spouse  Handlers-cleaners         Husband
 24650     Married-civ-spouse       Craft-repair         Husband
 25075              Separated       Tech-support       Unmarried
 26198               Divorced       Adm-clerical       Unmarried
 26349          Never-married              Sales       Own-child
 27481              Separated  Machine-op-inspct       Unmarried
 27648     Married-civ-spouse  Machine-op-inspct         Husband
 28480     Married-civ-spouse       Craft-repair         Husband
 28590          Never-married              Sales       Own-child
 29025     Married-civ-spouse    Exec-managerial  Other-relative
 29746                Widowed       Craft-repair  Other-relative
 29969          Never-married      Other-service   Not-in-family
 31305  Married-spouse-absent  Machine-op-inspct   Not-in-family
 31817  Married-spouse-absent   Transport-moving       Unmarried
 32299     Married-civ-spouse     Prof-specialty         Husband

                      race     sex  capital-gain  capital-loss  hours-per-week  \
 228                 White  Female             0             0              20
 2659                White    Male             0             0              60
 2992                White  Female             0             0              35
 3386                White    Male          3464             0              40
 3924                White    Male             0             0              60
 5463                White  Female             0             0              40
 6878                Other  Female             0             0              40
 7732                White    Male             0             0              50
 7921                White    Male             0             0              40
 9828                White    Male             0             0              50
 11601               White    Male             0             0              40
 11676               White  Female             0             0              40
 11892               White    Male             0             0              40
 12500               White    Male             0             0              40
 12701               White    Male             0             0              40
 12985               Other  Female             0             0              40
 13223               White    Male             0             0              40
 13432               White    Male             0             0              40
 14073               White    Male             0             0              28
 14113               White  Female             0             0              32
 14419               White    Male             0             0              40
 14436               White    Male             0             0              40
 15210               White    Male             0             0              50
 16016               White    Male             0             0              40
 16140               Other  Female             0             0              20
 16258               White    Male             0             0              40
 16999               White    Male             0             0              40
 18787               White    Male             0             0              45

In [32]:
sex_groups = {sex:sub for sex, sub in df.groupby('sex')}
sex_groups

{'Female':        age     workclass  fnlwgt     education  education-num  \
 4       28       Private  338409     Bachelors             13
 5       37       Private  284582       Masters             14
 6       49       Private  160187           9th              5
 8       31       Private   45781       Masters             14
 12      23       Private  122272     Bachelors             13
 ...    ...           ...     ...           ...            ...
 32546   37       Private  198216    Assoc-acdm             12
 32549   43     State-gov  255835  Some-college             10
 32556   27       Private  257302    Assoc-acdm             12
 32558   58       Private  151910       HS-grad              9
 32560   52  Self-emp-inc  287927       HS-grad              9

               marital-status       occupation    relationship   race     sex  \
 4         Married-civ-spouse   Prof-specialty            Wife  Black  Female
 5         Married-civ-spouse  Exec-managerial            Wife  White  Female
 6      Married-spouse-absent    Other-service   Not-in-family  Black  Female
 8              Never-married   Prof-specialty   Not-in-family  White  Female
 12             Never-married     Adm-clerical       Own-child  White  Female
 ...                      ...              ...             ...    ...     ...
 32546               Divorced     Tech-support   Not-in-family  White  Female
 32549               Divorced     Adm-clerical  Other-relative  White  Female
 32556     Married-civ-spouse     Tech-support            Wife  White  Female
 32558                Widowed     Adm-clerical       Unmarried  White  Female
 32560     Married-civ-spouse  Exec-managerial            Wife  White  Female

        capital-gain  capital-loss  hours-per-week native-country income
 4                 0             0              40           Cuba  <=50K
 5                 0             0              40  United-States  <=50K
 6                 0             0              16        Jamaica  <=50K
 8             14084             0              50  United-States   >50K
 12                0             0              30  United-States  <=50K
 ...             ...           ...             ...            ...    ...
 32546             0             0              40  United-States  <=50K
 32549             0             0              40  United-States  <=50K
 32556             0             0              38  United-States  <=50K
 32558             0             0              40  United-States  <=50K
 32560         15024             0              40  United-States   >50K

 [9782 rows x 15 columns],
 'Male':        age         workclass  fnlwgt     education  education-num  \
 0       39         State-gov   77516     Bachelors             13
 1       50  Self-emp-not-inc   83311     Bachelors             13
 2       38           Private  215646       HS-grad              9
 3       53           Private  234721          11th              7
 7       52  Self-emp-not-inc  209642       HS-grad              9
 ...    ...               ...     ...           ...            ...
 32553   32           Private  116138       Masters             14
 32554   53           Private  321865       Masters             14
 32555   22           Private  310152  Some-college             10
 32557   40           Private  154374       HS-grad              9
 32559   22           Private  201490       HS-grad              9

            marital-status         occupation   relationship  \
 0           Never-married       Adm-clerical  Not-in-family
 1      Married-civ-spouse    Exec-managerial        Husband
 2                Divorced  Handlers-cleaners  Not-in-family
 3      Married-civ-spouse  Handlers-cleaners        Husband
 7      Married-civ-spouse    Exec-managerial        Husband
 ...                   ...                ...            ...
 32553       Never-married       Tech-support  Not-in-family
 32554  Married-civ-spouse    Exec-managerial        Husband
 32555       Never-married    Protective-serv  Not-in-family
 32557  Married-civ-spouse  Machine-op-inspct        Husband
 32559       Never-married       Adm-clerical      Own-child

                      race   sex  capital-gain  capital-loss  hours-per-week  \
 0                   White  Male          2174             0              40
 1                   White  Male             0             0              13
 2                   White  Male             0             0              40
 3                   Black  Male             0             0              40
 7                   White  Male             0             0              45
 ...                   ...   ...           ...           ...             ...
 32553  Asian-Pac-Islander  Male             0             0              11
 32554               White  Male             0             0              40
 32555               White  Male             0             0              40
 32557               White  Male             0             0              40
 32559               White  Male             0             0              20

       native-country income
 0      United-States  <=50K
 1      United-States  <=50K
 2      United-States  <=50K
 3      United-States  <=50K
 7      United-States   >50K
 ...              ...    ...
 32553         Taiwan  <=50K
 32554  United-States   >50K
 32555  United-States  <=50K
 32557  United-States   >50K
 32559  United-States  <=50K

 [20380 rows x 15 columns]}

In [30]:
race_groups = {race: sub for race, sub in df.groupby('race')}
race_groups

{'Amer-Indian-Eskimo':        age workclass  fnlwgt     education  education-num      marital-status  \
 15      34   Private  245487       7th-8th              4  Married-civ-spouse
 212     35   Private  153790  Some-college             10       Never-married
 447     51   Private   56915       HS-grad              9  Married-civ-spouse
 516     25   Private  267044  Some-college             10       Never-married
 565     20   Private   27337       HS-grad              9       Never-married
 ...    ...       ...     ...           ...            ...                 ...
 32231   44   Private   33105       HS-grad              9  Married-civ-spouse
 32242   33   Private  356015       HS-grad              9           Separated
 32249   35   Private   91839     Bachelors             13  Married-civ-spouse
 32425   23   Private  180771       1st-4th              2  Married-civ-spouse
 32551   32   Private   34066          10th              6  Married-civ-spouse

               occupation   relationship                race     sex  \
 15      Transport-moving        Husband  Amer-Indian-Eskimo    Male
 212                Sales  Not-in-family  Amer-Indian-Eskimo  Female
 447         Craft-repair        Husband  Amer-Indian-Eskimo    Male
 516         Adm-clerical  Not-in-family  Amer-Indian-Eskimo  Female
 565    Handlers-cleaners      Own-child  Amer-Indian-Eskimo    Male
 ...                  ...            ...                 ...     ...
 32231    Exec-managerial        Husband  Amer-Indian-Eskimo    Male
 32242       Craft-repair  Not-in-family  Amer-Indian-Eskimo    Male
 32249      Other-service        Husband  Amer-Indian-Eskimo    Male
 32425  Machine-op-inspct           Wife  Amer-Indian-Eskimo  Female
 32551  Handlers-cleaners        Husband  Amer-Indian-Eskimo    Male

        capital-gain  capital-loss  hours-per-week native-country income
 15                0             0              45         Mexico  <=50K
 212               0             0              40  United-States  <=50K
 447               0             0              40  United-States  <=50K
 516               0             0              20  United-States  <=50K
 565               0             0              48  United-States  <=50K
 ...             ...           ...             ...            ...    ...
 32231             0             0              40  United-States  <=50K
 32242             0             0              35           Hong  <=50K
 32249          7688             0              20  United-States   >50K
 32425             0             0              35         Mexico  <=50K
 32551             0             0              40  United-States  <=50K

 [286 rows x 15 columns],
 'Asian-Pac-Islander':        age     workclass  fnlwgt     education  education-num  \
 11      30     State-gov  141297     Bachelors             13
 139     49       Private   81973  Some-college             10
 152     33       Private  163003     Bachelors             13
 162     44  Self-emp-inc   78374       Masters             14
 163     28       Private   88419       HS-grad              9
 ...    ...           ...     ...           ...            ...
 32428   39   Federal-gov  110622     Bachelors             13
 32457   33       Private  139057       Masters             14
 32486   24       Private  216984  Some-college             10
 32533   54       Private  337992     Bachelors             13
 32553   32       Private  116138       Masters             14

            marital-status       occupation    relationship  \
 11     Married-civ-spouse   Prof-specialty         Husband
 139    Married-civ-spouse     Craft-repair         Husband
 152         Never-married  Exec-managerial  Other-relative
 162              Divorced  Exec-managerial       Unmarried
 163         Never-married  Exec-managerial   Not-in-family
 ...                   ...              ...             ...
 32428  Married-civ-spouse     Adm-clerical            Wife
 32457  Married-civ-spouse     Tech-support         Husband
 32486  Married-civ-spouse    Other-service       Own-child
 32533  Married-civ-spouse  Exec-managerial         Husband
 32553       Never-married     Tech-support   Not-in-family

                      race     sex  capital-gain  capital-loss  hours-per-week  \
 11     Asian-Pac-Islander    Male             0             0              40
 139    Asian-Pac-Islander    Male             0             0              40
 152    Asian-Pac-Islander  Female             0             0              40
 162    Asian-Pac-Islander  Female             0             0              40
 163    Asian-Pac-Islander  Female             0             0              40
 ...                   ...     ...           ...           ...             ...
 32428  Asian-Pac-Islander  Female             0             0              40
 32457  Asian-Pac-Islander    Male             0             0              50
 32486  Asian-Pac-Islander  Female             0             0              35
 32533  Asian-Pac-Islander    Male             0             0              50
 32553  Asian-Pac-Islander    Male             0             0              11

       native-country income
 11             India   >50K
 139    United-States   >50K
 152      Philippines  <=50K
 162    United-States  <=50K
 163          England  <=50K
 ...              ...    ...
 32428    Philippines  <=50K
 32457  United-States   >50K
 32486  United-States  <=50K
 32533          Japan   >50K
 32553         Taiwan  <=50K

 [895 rows x 15 columns],
 'Black':        age workclass  fnlwgt     education  education-num  \
 3       53   Private  234721          11th              7
 4       28   Private  338409     Bachelors             13
 6       49   Private  160187           9th              5
 10      37   Private  280464  Some-college             10
 13      32   Private  205019    Assoc-acdm             12
 ...    ...       ...     ...           ...            ...
 32514   40   Private  142657     Assoc-voc             11
 32521   33   Private  273243       HS-grad              9
 32535   22   Private  325033          12th              8
 32537   30   Private  345898       HS-grad              9
 32538   38   Private  139180     Bachelors             13

               marital-status         occupation   relationship   race     sex  \
 3         Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
 4         Married-civ-spouse     Prof-specialty           Wife  Black  Female
 6      Married-spouse-absent      Other-service  Not-in-family  Black  Female
 10        Married-civ-spouse    Exec-managerial        Husband  Black    Male
 13             Never-married              Sales  Not-in-family  Black    Male
 ...                      ...                ...            ...    ...     ...
 32514     Married-civ-spouse       Craft-repair        Husband  Black    Male
 32521     Married-civ-spouse       Craft-repair        Husband  Black    Male
 32535          Never-married    Protective-serv      Own-child  Black    Male
 32537          Never-married       Craft-repair  Not-in-family  Black    Male
 32538               Divorced     Prof-specialty      Unmarried  Black  Female

        capital-gain  capital-loss  hours-per-week native-country income
 3                 0             0              40  United-States  <=50K
 4                 0             0              40           Cuba  <=50K
 6                 0             0              16        Jamaica  <=50K
 10                0             0              80  United-States   >50K
 13                0             0              50  United-States  <=50K
 ...             ...           ...             ...            ...    ...
 32514             0             0              45  United-States  <=50K
 32521             0             0              40  United-States  <=50K
 32535             0             0              35  United-States  <=50K
 32537             0             0              46  United-States  <=50K
 32538         15020             0              45  United-States   >50K

 [2817 rows x 15 columns],
 'Other':        age         workclass  fnlwgt     education  education-num  \
 50      25           Private   32275  Some-college             10
 233     33           Private  110978  Some-college             10
 356     65           Private  161400          11th              7
 404     28           Private  166481       7th-8th              4
 530     44           Private  109339          11th              7
 ...    ...               ...     ...           ...            ...
 31985   42  Self-emp-not-inc  126614     Bachelors             13
 32021   46           Private  211226    Assoc-acdm             12
 32263   27           Private  176761       HS-grad              9
 32432   36           Private  208068     Preschool              1
 32544   31           Private  199655       Masters             14

            marital-status         occupation    relationship   race     sex  \
 50     Married-civ-spouse    Exec-managerial            Wife  Other  Female
 233              Divorced       Craft-repair  Other-relative  Other  Female
 356               Widowed      Other-service       Unmarried  Other    Male
 404    Married-civ-spouse  Handlers-cleaners         Husband  Other    Male
 530              Divorced  Machine-op-inspct       Unmarried  Other  Female
 ...                   ...                ...             ...    ...     ...
 31985            Divorced    Exec-managerial   Not-in-family  Other    Male
 32021  Married-civ-spouse   Transport-moving         Husband  Other    Male
 32263       Never-married       Craft-repair  Other-relative  Other    Male
 32432            Divorced      Other-service   Not-in-family  Other    Male
 32544            Divorced      Other-service   Not-in-family  Other  Female

        capital-gain  capital-loss  hours-per-week native-country income
 50                0             0              40  United-States  <=50K
 233               0             0              40  United-States  <=50K
 356               0             0              40  United-States  <=50K
 404               0          2179              40    Puerto-Rico  <=50K
 530               0             0              46    Puerto-Rico  <=50K
 ...             ...           ...             ...            ...    ...
 31985             0             0              30           Iran  <=50K
 32021             0             0              36  United-States  <=50K
 32263             0             0              40      Nicaragua  <=50K
 32432             0             0              72         Mexico  <=50K
 32544             0             0              30  United-States  <=50K

 [231 rows x 15 columns],
 'White':        age         workclass  fnlwgt   education  education-num  \
 0       39         State-gov   77516   Bachelors             13
 1       50  Self-emp-not-inc   83311   Bachelors             13
 2       38           Private  215646     HS-grad              9
 5       37           Private  284582     Masters             14
 7       52  Self-emp-not-inc  209642     HS-grad              9
 ...    ...               ...     ...         ...            ...
 32556   27           Private  257302  Assoc-acdm             12
 32557   40           Private  154374     HS-grad              9
 32558   58           Private  151910     HS-grad              9
 32559   22           Private  201490     HS-grad              9
 32560   52      Self-emp-inc  287927     HS-grad              9

            marital-status         occupation   relationship   race     sex  \
 0           Never-married       Adm-clerical  Not-in-family  White    Male
 1      Married-civ-spouse    Exec-managerial        Husband  White    Male
 2                Divorced  Handlers-cleaners  Not-in-family  White    Male
 5      Married-civ-spouse    Exec-managerial           Wife  White  Female
 7      Married-civ-spouse    Exec-managerial        Husband  White    Male
 ...                   ...                ...            ...    ...     ...
 32556  Married-civ-spouse       Tech-support           Wife  White  Female
 32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
 32558             Widowed       Adm-clerical      Unmarried  White  Female
 32559       Never-married       Adm-clerical      Own-child  White    Male
 32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

        capital-gain  capital-loss  hours-per-week native-country income
 0              2174             0              40  United-States  <=50K
 1                 0             0              13  United-States  <=50K
 2                 0             0              40  United-States  <=50K
 5                 0             0              40  United-States  <=50K
 7                 0             0              45  United-States   >50K
 ...             ...           ...             ...            ...    ...
 32556             0             0              38  United-States  <=50K
 32557             0             0              40  United-States   >50K
 32558             0             0              40  United-States  <=50K
 32559             0             0              20  United-States  <=50K
 32560         15024             0              40  United-States   >50K

 [25933 rows x 15 columns]}

In [39]:
#Creating data subsets from the dictionary
india_df = country_groups['India']
usa_df = country_groups['United-States']
female_df = sex_groups['Female']
male_df = sex_groups['Male']

india_df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
892,28,Private,164170,Assoc-voc,11,Married-civ-spouse,Adm-clerical,Wife,Asian-Pac-Islander,Female,0,0,40,India,<=50K
968,48,Private,164966,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
1029,48,Self-emp-inc,138370,Masters,14,Married-spouse-absent,Sales,Not-in-family,Asian-Pac-Islander,Male,0,0,50,India,<=50K
1095,22,Self-emp-not-inc,361280,Bachelors,13,Never-married,Prof-specialty,Own-child,Asian-Pac-Islander,Male,0,0,20,India,<=50K

## Another way to create subsets
This method is inefficient as we will have to type 40 line for 40 subsets

In [35]:
df_us      = df[df['native-country']=='United-States']
df_india   = df[df['native-country']=='India']
df_male    = df[df['sex']=='Male']
df_female  = df[df['sex']=='Female']
df_white   = df[df['race']=='White']
df_black   = df[df['race']=='Black']

df_india.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
892,28,Private,164170,Assoc-voc,11,Married-civ-spouse,Adm-clerical,Wife,Asian-Pac-Islander,Female,0,0,40,India,<=50K
968,48,Private,164966,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
1029,48,Self-emp-inc,138370,Masters,14,Married-spouse-absent,Sales,Not-in-family,Asian-Pac-Islander,Male,0,0,50,India,<=50K
1095,22,Self-emp-not-inc,361280,Bachelors,13,Never-married,Prof-specialty,Own-child,Asian-Pac-Islander,Male,0,0,20,India,<=50K

<h1>Merge Two Subsets</h1>

In [40]:
# Vertical concatenation (union) of US + India records:
merged = pd.concat([india_df, usa_df],ignore_index=True)
merged

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
1,28,Private,164170,Assoc-voc,11,Married-civ-spouse,Adm-clerical,Wife,Asian-Pac-Islander,Female,0,0,40,India,<=50K
2,48,Private,164966,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
3,48,Self-emp-inc,138370,Masters,14,Married-spouse-absent,Sales,Not-in-family,Asian-Pac-Islander,Male,0,0,50,India,<=50K
4,22,Self-emp-not-inc,361280,Bachelors,13,Never-married,Prof-specialty,Own-child,Asian-Pac-Islander,Male,0,0,20,India,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27599,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
27600,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
27601,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
27602,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
27603,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

<h1>Sort dataset on hours_per_week</h1>

In [45]:
sort = df.sort_values(by='hours-per-week',axis=0,ascending=False)
sort

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
30610,51,Self-emp-not-inc,24790,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,99,United-States,>50K
13858,37,Private,51264,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,99,France,>50K
3578,37,Self-emp-inc,382802,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,99,United-States,>50K
10266,56,Self-emp-inc,184598,9th,5,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,99,United-States,<=50K
17611,28,Self-emp-not-inc,104617,7th-8th,4,Never-married,Other-service,Other-relative,White,Female,0,0,99,Mexico,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22960,21,Private,184135,HS-grad,9,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,1,United-States,<=50K
20909,77,Self-emp-not-inc,71676,Some-college,10,Widowed,Adm-clerical,Not-in-family,White,Female,0,1944,1,United-States,<=50K
25078,74,Private,260669,10th,6,Divorced,Other-service,Not-in-family,White,Female,0,0,1,United-States,<=50K
19750,23,Private,72887,HS-grad,9,Never-married,Craft-repair,Own-child,Asian-Pac-Islander,Male,0,0,1,Vietnam,<=50K
11451,27,Private,147951,HS-grad,9,Never-married,Machine-op-inspct,Other-relative,White,Male,0,0,1,United-States,<=50K

<h1>Transpose data</h1>

In [46]:
transpose = df.T
transpose

,0,1,2,3,4,5,6,7,8,9,...,32551,32552,32553,32554,32555,32556,32557,32558,32559,32560
age,39,50,38,53,28,37,49,52,31,42,...,32,43,32,53,22,27,40,58,22,52
workclass,State-gov,Self-emp-not-inc,Private,Private,Private,Private,Private,Self-emp-not-inc,Private,Private,...,Private,Private,Private,Private,Private,Private,Private,Private,Private,Self-emp-inc
fnlwgt,77516,83311,215646,234721,338409,284582,160187,209642,45781,159449,...,34066,84661,116138,321865,310152,257302,154374,151910,201490,287927
education,Bachelors,Bachelors,HS-grad,11th,Bachelors,Masters,9th,HS-grad,Masters,Bachelors,...,10th,Assoc-voc,Masters,Masters,Some-college,Assoc-acdm,HS-grad,HS-grad,HS-grad,HS-grad
education-num,13,13,9,7,13,14,5,9,14,13,...,6,11,14,14,10,12,9,9,9,9
marital-status,Never-married,Married-civ-spouse,Divorced,Married-civ-spouse,Married-civ-spouse,Married-civ-spouse,Married-spouse-absent,Married-civ-spouse,Never-married,Married-civ-spouse,...,Married-civ-spouse,Married-civ-spouse,Never-married,Married-civ-spouse,Never-married,Married-civ-spouse,Married-civ-spouse,Widowed,Never-married,Married-civ-spouse
occupation,Adm-clerical,Exec-managerial,Handlers-cleaners,Handlers-cleaners,Prof-specialty,Exec-managerial,Other-service,Exec-managerial,Prof-specialty,Exec-managerial,...,Handlers-cleaners,Sales,Tech-support,Exec-managerial,Protective-serv,Tech-support,Machine-op-inspct,Adm-clerical,Adm-clerical,Exec-managerial
relationship,Not-in-family,Husband,Not-in-family,Husband,Wife,Wife,Not-in-family,Husband,Not-in-family,Husband,...,Husband,Husband,Not-in-family,Husband,Not-in-family,Wife,Husband,Unmarried,Own-child,Wife
race,White,White,White,Black,Black,White,Black,White,White,White,...,Amer-Indian-Eskimo,White,Asian-Pac-Islander,White,White,White,White,White,White,White
sex,Male,Male,Male,Male,Female,Female,Female,Male,Female,Male,...,Male,Male,Male,Male,Male,Female,Male,Female,Male,Female
capital-gain,2174,0,0,0,0,0,0,0,14084,5178,...,0,0,0,0,0,0,0,0,0,15024
capital-loss,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
hours-per-week,40,13,40,40,40,40,16,45,50,40,...,40,45,11,40,40,38,40,40,20,40
native-country,United-States,United-States,United-States,United-States,Cuba,United-States,Jamaica,United-States,United-States,United-States,...,United-States,United-States,Taiwan,United-States,United-States,United-States,United-States,United-States,United-States,United-States
income,<=50K,<=50K,<=50K,<=50K,<=50K,<=50K,<=50K,>50K,>50K,>50K,...,<=50K,<=50K,<=50K,>50K,<=50K,<=50K,>50K,<=50K,<=50K,>50K

<h1>Melting data to Long Format</h1>

In [48]:
melted = pd.melt(df, id_vars=['age','sex','race','occupation'],value_vars=['capital-gain','capital-loss'],var_name='capital_type' ,value_name='amount')
melted

       age     sex   race         occupation  capital_type  amount
0       39    Male  White       Adm-clerical  capital-gain    2174
1       50    Male  White    Exec-managerial  capital-gain       0
2       38    Male  White  Handlers-cleaners  capital-gain       0
3       53    Male  Black  Handlers-cleaners  capital-gain       0
4       28  Female  Black     Prof-specialty  capital-gain       0
...    ...     ...    ...                ...           ...     ...
60319   27  Female  White       Tech-support  capital-loss       0
60320   40    Male  White  Machine-op-inspct  capital-loss       0
60321   58  Female  White       Adm-clerical  capital-loss       0
60322   22    Male  White       Adm-clerical  capital-loss       0
60323   52  Female  White    Exec-managerial  capital-loss       0

[60324 rows x 6 columns]

<h1>Cast to Wide Format</h1>

In [52]:
casted = pd.pivot_table(melted, index=['age','sex','race','occupation'],columns=['capital_type'], values='amount').reset_index()
casted

capital_type,age,sex,race,occupation,capital-gain,capital-loss
0,17,Female,Amer-Indian-Eskimo,Other-service,527.5,0.0
1,17,Female,Asian-Pac-Islander,Adm-clerical,0.0,0.0
2,17,Female,Black,Adm-clerical,0.0,1602.0
3,17,Female,Black,Handlers-cleaners,0.0,0.0
4,17,Female,Black,Other-service,0.0,0.0
...,...,...,...,...,...,...
3192,90,Male,White,Other-service,6767.0,0.0
3193,90,Male,White,Prof-specialty,15308.5,0.0
3194,90,Male,White,Protective-serv,2653.0,0.0
3195,90,Male,White,Sales,9386.0,0.0
3196,90,Male,White,Transport-moving,0.0,0.0